

<li class="dropdown">
    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" onclick="alertclick()">
        <i class="fa fa-bell"></i> <span class="label label-primary" id="alertstatuscount"></span>
    </a>
   <ul class="dropdown-menu">
        <li>
            <ul class="dropdown-messages" id="alertstatus">
                
            </ul>
        </li> 
        <!-- <li class="divider"></li> -->
        <li>
            <div class="text-center link-block">
                <a href="/lead/follow_up/">
                    <i class="fa fa-envelope"></i> <strong>ALL FollowUps</strong>
                </a>
            </div>
        </li>
    </ul>
</li>