<div class="tab-pane" id="edit">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form id="leadEditForm" class="form-horizontal">
                            <input type="hidden" id="id" name="id" value = {{ lead.id }} >
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input id="name" name="name" type="text" class="form-control" value ="{{ lead.name }}">
                                    </div>
                                </div>
                                <div class="col-md-3 col-md-offset-1">
                                    <div class="form-group">
                                        <label class="control-label">Phone No</label>
                                        <input id="phoneno" name="phoneno" type="text" class="form-control  phone"  placeholder="Use comma for muiltiple No">
                                    </div>
                                </div>
                        
                                <div class="col-md-3  col-md-offset-1">
                                    <div class="form-group">
                                        <label>Mail id </label>
                                        <input id="mailid" name="mailid" type="text" class="form-control " placeholder="Use comma for muiltiple Mail">
                                    </div>
                                </div>
                            

                            </div>

                            
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>City </label>
                                        <input id="city" name="city" type="text" class="form-control " value ="{{ lead.city.name }}">
                                    </div>
                                </div>

                                <div class="col-md-3 col-md-offset-1">
                                    <div class="form-group">
                                        <label>Country </label>
                                        <input id="country" name="country" type="text" class="form-control " value ="{{ lead.country.name }}">
                                    </div>
                                </div>
    
                                <div class="col-md-3 col-md-offset-1 ">
                                    <div class="form-group">
                                        <label>Designation/Profession </label>
                                        <input id="designation" name="designation" type="text" class="form-control " value = "{{ lead.designation }}">
                                    </div>
                                </div>
                                
    
                              

                            </div>



                            <div class="row">

                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label>Age </label>
                                        <input id="age" name="age" type="text" class="form-control  number" value = "{{ lead.age }}">
                                    </div>
                                </div>

                                <div class="col-md-3 col-md-offset-1 ">
                                    <div class="form-group">
                                        <label>Address </label>
                                        <input id="address" name="address" type="text" class="form-control "  value = "{{ lead.address }}">
                                    </div>
                                </div>


                                 <div class="col-md-3 col-md-offset-1 ">
                                    <div class="form-group">
                                        <label>Other Info</label>
                                        <input id="additional_info" name="additional_info" type="text" class="form-control" value ="{{ lead.additional_info }}">
                                    </div>
                                </div>
    
    
    
                               
                                

                            </div>

                            <hr>

                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>UnitType </label>
                                        <select class="form-control" name="unit_type" id="unit_type" value="{{ lead.unit_type.pk }}">
                                            <option value="">Select</option>
                                            {% for unit_type in unit_type_list %}
                                            <option value="{{ unit_type.pk }}"
                                            {% if lead.unit_type.pk == unit_type.pk %}selected="selected"{% endif %}>
                                            {{ unit_type.name }}</option>
                                            {% endfor %}
                                            
                                            <!-- <option value="NON">None</option>
                                            <option value="PLO">plots</option>
                                            <option value="VIL">villas</option>
                                            <option value="1BH">1BHK</option>
                                            <option value="2BH">2BHK</option>
                                            <option value="2BS">2BHK + STUDY</option>
                                            <option value="3BH">3BHK</option>
                                            <option value="3BS">3BHK + STUDY</option>
                                            <option value="4BH">4BHK</option> -->
                                        </select>
                                    </div>
                                </div>
    
                                <div class="col-md-3 col-md-offset-1 ">
                                    <div class="form-group">
                                        <label>From Unit Size </label>
                                        <div class="input-group m-b">
                                            <input id="from_unit_size" name="from_unit_size" type="text" class="form-control  number" value ="{{ lead.from_unit_size }}" >
                                            <span class="input-group-addon">Sq.Ft</span>
                                        </div>
                                    </div>
                                </div>
    
    
                                <div class="col-md-3 col-md-offset-1">
                                    <div class="form-group">
                                        <label>To Unit Size </label>
                                        <div class="input-group m-b">
                                            <input id="to_unit_size" name="to_unit_size" type="text" class="form-control  number"  value ="{{ lead.to_unit_size }}">
                                            <span class="input-group-addon">Sq.Ft</span>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>From Budget </label>
                                        <div class="input-group m-b">
                                            <input id="from_budget" name="from_budget" type="text" class="form-control  number"  value = "{{ lead.from_budget }}" >
                                            <span class="input-group-addon"><i class="fa fa-inr"></i></span>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-md-3 col-md-offset-1 ">
                                    <div class="form-group">
                                        <label>To Budget </label>
                                        <div class="input-group m-b">
                                            <input id="to_budget" name="to_budget" type="text" class="form-control  number" value = "{{ lead.to_budget }}">
                                            <span class="input-group-addon"><i class="fa fa-inr"></i></span>
                                        </div>
                                    </div>
                                </div>
    
    
                                <div class="col-md-3 col-md-offset-1">
                                    <div class="form-group">
                                        <label>Property For </label>
                                        <select class="form-control " name="buying_reason" id="buying_reason" >
                                            <option value="">Select</option>
                                            {% for buying_reason in buying_reason_list %}
                                            <option value="{{ buying_reason.pk }}"
                                            {% if lead.buying_reason.pk  == buying_reason.pk %}selected="selected"{% endif %}>
                                            {{ buying_reason.name }}</option>
                                            {% endfor %}
<!--                                             
                                            <option value="NO">Select</option>
                                            <option value="OW">Own</option>
                                            <option value="IN">Investment</option>
                                            <option value="RS">Resale</option>
                                            <option value="PR">Prelaunch</option>
                                            <option value="RM">Ready to move</option>
                                            <option value="RE">Renting</option>
                                            <option value="GI">Gifting</option>
                                            <option value="OT">Others</option> -->
                                        </select>
                                    </div>
                                </div>

                            </div>


                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Lead Source </label>
                                        <select class="form-control " name="lead_source" id="lead_source">
                                            <option value="">Select</option>
                                            {% for lead_source in lead_source_list %}
                                            <option value="{{ lead_source.pk }}"
                                            {% if lead.lead_source.pk  == lead_source.pk %}selected="selected"{% endif %}>
                                            {{ lead_source.name }}</option>
                                            {% endfor %}


                                            <!-- <option value="NON">Select Source</option>
                                            <option value="INT">Internet</option>
                                            <option value="PAP">Paper Ad</option>
                                            <option value="RAD">Radio</option>
                                            <option value="HOA">Hoarding</option>
                                            <option value="REF">Referral</option>
                                            <option value="EXP">Expos</option>
                                            <option value="REA">Realtor</option>
                                            <option value="SOC">SocialMedia</option> -->
                                        </select>
                                    </div>
                                </div>

    
                              
    
    
                                <div class="col-md-3 col-md-offset-1">
                                    <div class="form-group">
                                        <label>Visit Date</label>
                                        <div class="input-group date"><span class="input-group-addon"><i class="fa fa-calendar"></i></span><input
                                                id="visit_date" name="visit_date" type="text" class="form-control" value="{{lead.visit_date |date:"Y-m-d" }}"></div>
                                        </div>
                                </div>

                            </div>

                       
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- <script type="text/javascript">
    $("#visit_date").date({
        format: 'yyyy-mm-dd'
    });
</script> -->