<li class="dropdown">
    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" onclick="infoclick()">
        <i class="fa fa-info"></i> <span class="label label-info">#</span>
    </a>
    <ul class="dropdown-menu dropdown-messages">
        <li>
            <div class="dropdown-messages-box">
                <strong>Day</strong><small class="pull-right text-muted datetimeofinfo"></small>
                <div class="media-body ">                         
                Follow up's : <span id="ddf"></span> <br>
                Completed: <span id="ddc"></span> <br>
                Total: <span id="ddt"></span><br>
                
                </div>
            </div>
        </li>
        <li class="divider"></li>
        
        
        
        <li>
            <div class="dropdown-messages-box">
                <strong>Week</strong><small class="pull-right text-muted datetimeofinfo"></small>
                <div class="media-body">                         
                Follow up's : <span id="wwf"></span> <br>
                Completed: <span id="wwc"></span><br>
                Total: <span id="wwt"></span><br>
                
                </div>
            </div>
        </li>
        
        <li class="divider"></li>
        
        
        <li>
            <div class="dropdown-messages-box">
                <strong>Month</strong><small class="pull-right text-muted datetimeofinfo"></small>
                <div class="media-body ">                         
                Follow up's : <span id="mmf"></span>  <br>
                Completed: <span id="mmc"></span> <br>
                Total: <span id="mmt"></span> <br>
                
                </div>
            </div>
        </li>


        <li class="divider"></li>


        <li>
            <div class="dropdown-messages-box">
                <strong>All</strong><small class="pull-right text-muted datetimeofinfo"></small>
                <div class="media-body ">                         
                Follow up's : <span id="aaf"></span>  <br>
                Completed: <span id="aac"></span>  <br>
                Total:  <span id="aat"></span> <br>
                
                </div>
            </div>
        </li>


      
    </ul>
</li>
