
<li class="dropdown">
    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" onclick="notificationclick()">
        <i class="fa fa-tasks"></i> <span class="label label-warning" id="notificationcount"></span>
    </a>
     <ul class="dropdown-menu dropdown-alerts">
        <li style="display:none">
            <a>
                <div>
                    <i class="fa fa-envelope fa-fw"></i> Last mail send to name
                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider" style="display:none"></li>
        <li>
            <a href="/lead/new_lead/">
                <div>
                    <i class="fa fa-users  fa-fw"></i>New Leads add count <span id="NewLeadCount"> 
                    <span class="pull-right text-muted small" id="NewLeadCountTime"></span>
                </div>
            </a>
        </li>
       
      
    </ul>
    
</li>


